<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrxk4mWzR5KuFY6-X95rlEAnT1YhoJq5E&callback" async defer></script>
<div class="card-columns">
	<!------------------------------------ カード　------------------------------------>

		<%= render partial: "layouts/post_list",collection: @posts,as: :post %>

<!------------------------------------ カード　------------------------------------>
</div>
