@import "bootstrap-sprockets";
@import "bootstrap";

.user_image {
  margin-right: 20px;
}
.userdate{
  float: left;
  margin-right: 10px;
}

.row {
  margin: 5px 10px 10px 10px;
  padding: 0;
}

.panel {
  width: 90%;
}

h3{
  margin: 5px;
}

hr {
  margin: 5px;
}

.edit-row{
   margin-left: 10px;
   margin-right: 10px;
}
